.heading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.search_bar {
  margin-left: auto;
}

.poke_card {
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 175px;
  height: 250px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure overlay is above other content */
}

.overlay-content {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 300px;
  position: relative;
  z-index: 1001; /* Content above overlay background */
}

.overlay-content img {
  width: 150px;
  height: 150px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

#closeOverlay {
  background-color: red;
  color: white;
  border: none;
}

/* Tab buttons */
.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.tab-button {
  padding: 10px 15px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  font-weight: bold;
  flex: 1;
}

.tab-button.active {
  background-color: #007bff;
  color: white;
}

/* Tab content */
.tab-content {
  margin-top: 20px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}
