.heading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

input {
  text-align: center;
  border: none;
  border-radius: 50px;
  padding: 5px;
}

.search_bar {
  margin-left: auto;
}

/* Poke Card */
.poke_card {
  color: white;
  text-align: center;
  padding: 20px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  width: 175px;
  height: 250px;
  border: 2.5px solid var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.poke_card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.poke_card:hover .poke_card--img {
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.poke_card:hover .poke_card--types-box {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.poke_card--name {
  margin-bottom: 5px;
}
.poke_card--name::first-letter {
  text-transform: uppercase;
}

.poke_card--img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  margin: 10px 0 18px 0;
  transition: all 0.3s ease;
}

.poke_card--type-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.poke_card--types-section {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
}

.poke_card--types-box {
  display: flex;
  gap: 15px;
  padding: 2px;
  margin-top: 10px;
  background-color: var(--background-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  transition: all 0.3s ease;
}

/* Load More Button */
.load_more_btn {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #ffffff;
  align-self: center;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.load_more_btn:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.load_more_btn:active {
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

/* Pokemon Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Overlay is above other content */
}

.overlay_content {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 45%;
  height: 70%;
  position: relative;
  z-index: 1002; /* Content above overlay background */
  overflow: hidden;
  border: 3px solid var(--primary-color);
  box-shadow: 0 6px 12px rgba(255, 203, 5, 1);
}

.overlay_content--header {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.overlay_content--heading::first-letter {
  text-transform: uppercase;
}

.overlay_content--id {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1003;
}

.overlay_content > img {
  width: 250px;
  height: 250px;
  background-image: url("../assets/img/pokeball.svg");
  background-size: cover;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

/* Tab buttons */
.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.tab-button {
  padding: 10px 10px;
  background-color: var(--background-light);
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  flex: 1;
}

.tab-button.active {
  background-color: var(--primary-color);
  color: white;
}

/* Tab content */
.tab-content {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab-pane.active p {
  color: white;
}

.btn_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
  margin-bottom: 1rem;
}
.btn_change {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn_change img {
  background: none;
  display: block;
  pointer-events: none;
}

/* Loading screen styles */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-screen .spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-right: 15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-screen p {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
}

.footer_box {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
