.heading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.search_bar {
  margin-left: auto;
}

.poke_card {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 175px;
  height: 250px;
}
