.heading {
  position: absolute; /* Remove from normal flow for centering */
  left: 50%; /* Move to the center horizontally */
  transform: translateX(-50%); /* Adjust back by 50% of its width */
  text-align: center; /* Center the text */
}

.search_bar {
  margin-left: auto;
}

.poke_card {
  background-color: #007bff; /* Blue background */
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 175px;
  height: 250px;
}
