html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body.no-scroll {
  overflow: hidden;
}

header {
  width: 100vw;
  min-height: 7rem; /* Adjust based on your actual header height */
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  position: relative;
}

.content_limit_h {
  width: 1920px;
  min-height: 7rem; /* Adjust based on your actual header height */
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  position: relative;
}

footer {
  width: 100vw;
  min-height: 5rem; /* Adjust based on your actual footer height */
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center;
  padding: 3.5rem 5rem;
  background-color: var(--background-light);
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e64556' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  overflow-y: auto;
  scroll-behavior: smooth;
}

.grid_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: start;
  height: calc(100vh - 7rem - 5rem - 4rem - 4.1rem);
  gap: 25px;
  margin-bottom: 25px;
  width: 100%;
  max-width: 1920px;
}
