@media (max-width: 920px) {
  header {
    min-height: 100px;
  }

  .content_limit_h {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading {
    position: static;
    transform: translateX(0%);
    margin-bottom: 1rem;
  }

  .search_bar {
    margin-left: 0;
  }
}

@media (max-width: 640px) {
  .overlay_content {
    width: 75%;
  }
}

@media (max-width: 465px) {
  .heading {
    font-size: 0.5rem;
  }

  header {
    min-height: 120px;
  }
}

@media (max-width: 400px) {
  .overlay_content {
    width: 95%;
  }
}
