:root {
  --primary-color: #ffcb05; /* Pokémon Yellow */
  --secondary-color: #2a75bb; /* Pokémon Blue */
  --background-light: #fffbec; /* Light background */
  --background-dark: #1a1a2e; /* Dark background */
  --text-light: #e0e0e0;
  --text-dark: #2b2b2b;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Press Start 2P", cursive;
}
